.center {
    width: 30%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 12px;
    box-shadow: #242424;
    }